.add-item-modal {
  padding: 4rem 2rem;
  button {
    width: 100%;
    padding: 0.5rem 1rem;
    background: $dark;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    align-self: center;
    margin-top: 2rem;
  }
}
