.dashboard {
  display: grid;
  grid-template-columns: 4fr 1fr;
  @media screen and (max-width: 990px) {
    grid-template-columns: 3fr 1fr;
  }
  @media screen and (max-width: 596px) {
    display: block;
  }
}
